@import "../theme.rasi"

window {
    width:                       999px;
    location:                    center;
    anchor:                      center;
}

listview {
    enabled:                     true;
    columns:                     6;
    lines:                       1;
    cycle:                       true;
    dynamic:                     true;
    scrollbar:                   false;
    layout:                      vertical;
    reverse:                     false;
    fixed-height:                true;
    fixed-columns:               true;
    
    spacing:                     15px;
    margin:                      15px;
    background-color:            transparent;
    cursor:                      "default";
}

inputbar {
    enabled:                     false;
}

element {
    padding: 30px 10px;
    children: [ element-text ];
    horizontal-align: 0.5;
    vertical-align: 0.5;
}

element-text {
    font: "feather bold 32";
    horizontal-align: 0.5;
    vertical-align: 0.5;
    text-color: inherit;
}

element selected.normal {
    background-color:            var(selected);
    text-color:                  var(background);
}
