@import "../theme.rasi"

configuration {
    show-icons: false;
}

window {
    width:                       820px;
    location:                    center;
    anchor:                      center;
}

listview {
    lines:                       14;
    columns:                     1;
}

entry {
    placeholder:                 "Search keybindings...";
}

element-icon {
    enabled:                     false;
}
