@import "theme.css";

* {
    font-family: "Maple Mono NF", "MapleMono NF", monospace;
    font-size: 18px;
    font-weight: bold;
    color: @fg;
    background: @capsule_bg;
    border: none;
    box-shadow: none;
    margin: 0px;
    border-radius: 0px;
    border-color:@bg;
}

#bar {
    background: @bg;
    margin: 2px;
}

#tags {
    margin: 2px 2px;
    padding: 0 5px;
    min-width: 24px;
}

#tags.active {
    background-color: @ws_focused;
    color: @bg;
    padding: 0 16px;
    border-color:@bg;
}

#tags.occupied {
    background-color: @border;
    color: @ws_occupied;
    padding: 0 12px;
}

#tags.empty {
    background-color: @capsule_bg;
    color: @ws_empty;
    padding: 0 10px;
}

#tags.urgent {
    background-color: @ws_urgent;
    color: @bg;
    padding: 0 12px;
}

#overview {
    background-color: @accent;
    color: @bg;
    padding: 0 14px;
    margin: 2px 2px;
}

#clock,
#clock.date,
#network,
#volume,
#mem,
#cpu,
#brightness,
#battery,
#layout,
#title,
#keymode,
#keyboardlayout,
#tray,
#custom-power,
#custom-keyviz,
#custom-recorder, {
    background-color: @bg;
    color: @fg;
    padding: 0 8px;
}

#custom-keyviz {
    color: @keyviz_color;
}

#custom-recorder {
    color: @recorder_color;
}

#clock {
    color: @clock_color;
}

#clock.date {
    color: @accent;
}

#network {
    color: @net_color;
}

#volume {
    color: @vol_color;
}

#mem {
    color: @ram_color;
}

#brightness {
    color: @accent_alt;
}

#battery {
    color: @bat_color;
}

#custom-keyviz {
    color: @keyviz_color;
}

#battery.warning,
#battery.critical,
#custom-power {
    color: @ws_urgent;
}

#tray {
    padding: 0 8px;
}

#tray > .passive {
    opacity: 0.5;
}

#tray > .needs-attention {
    color: @ws_urgent;
}

menu {
    background-color: @bg;
    border: 1px solid @border;
    padding: 4px;
}

menuitem {
    color: @fg;
    padding: 4px 8px;
}

menuitem:hover {
    color: @bg;
    background-color: @accent;
}
