/**
 * Rofi Audio Sink & Source Theme
 **/

@import "theme.rasi"

window {
    width:                       500px;
    location:                    center;
    anchor:                      center;
}

listview {
    lines:                       7;
    columns:                     1;
}

entry {
    placeholder:                 "Audio devices & volume...";
}
