/**
 * Base Rofi Configuration
 **/

configuration {
    modi:                       "drun,run,window";
    show-icons:                 true;
    hover-select:               true;
    display-drun:               " Apps";
    display-run:                " Run";
    display-window:             " Windows";
    drun-display-format:        "{name}";
    window-format:              "{w} · {c} · {t}";
}

@theme "theme.rasi"
