/**
 * Rofi Wi-Fi / Network Menu Theme
 **/

@import "../theme.rasi"

window {
    width:                       480px;
    location:                    center;
    anchor:                      center;
}

listview {
    lines:                       8;
    columns:                     1;
}

entry {
    placeholder:                 "Search or filter Wi-Fi networks...";
}
