/**
 * Dynamic Wallpaper Theme Tokens for Rofi
 **/
* {
    capsule-bg: #242436FF;
    capsule-hover: #2d2d44FF;
    capsule-fg: #D8DEE9FF;
    border-color: #3B4252FF;
    clock-color: #F5C2E7FF;
    ram-color: #CBA6F7FF;
    keyviz-color: #89DCEBFF;
    recorder-color: #D894A1FF;
    ws-empty: #89DCEBFF;
    ws-focused: #B4BEFEFF;
    ws-occupied: #B090D7FF;
    ws-urgent: #D894A1FF;
    bt-color: #B192DAFF;
    net-color: #F9E2AFFF;
    vol-color: #EBA0ACFF;
    bat-color: #79BFCEFF;
    session-color: #F38BA7FF;
    accent: #B4BEFEFF;
}
